* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.card-img {
    display: none;
    width: 100%;
    height: 60vh;
}

.card-left{
    width: 50%;
}

.card-left .active {
    display: block;
}

.card-right {
    position: relative;
    width: 300px;
    height: 60vh;
    background-color: black;
}

.card-right  .active {
    border: 4px solid rgb(240, 240, 240);
}

.card-small-img{
    opacity: 0.5;
}

.card-small-img.active {
    opacity: 1;
}

.card-small-img {
    height: calc(100% / 5);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.top,
.bottom {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    line-height: 40px;
    padding: 0 20px;
    z-index: 999;
}
.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}

.top:hover,
.bottom:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

